.main {
  color: blue;
  font-size: 40px;
}

#first {
  font-size: 20px;
}

#second {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.background-setup {
  background-color: yellow;
}

p {
  /* filter: blur(5px); */
  background-color: green;
}

.gallery {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .gallery {
    width: 75%;
  }
}

nav > a {
  color: green;
  font-size: 40px;
}

.main .gallery,
.background-setup {
}
